In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('/Users/anoushka/Desktop/csv/vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [10]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [12]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [18]:
#Filtering games by genre
df[df['Genre']=='Sports']

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
77,78,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49
...,...,...,...,...,...,...,...,...,...,...,...
16576,16579,Rugby Challenge 3,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01
16578,16581,Outdoors Unleashed: Africa 3D,3DS,2011.0,Sports,Mastiff,0.01,0.00,0.00,0.00,0.01
16579,16582,PGA European Tour,N64,2000.0,Sports,Infogrames,0.01,0.00,0.00,0.00,0.01
16581,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01
16587,16590,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.00,0.01

In [22]:
#Filtering Games by Sales in North America
df[df['NA_Sales'] > 1]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
1905,1907,Joust,2600,1982.0,Platform,Atari,1.01,0.06,0.00,0.01,1.08
1917,1919,NCAA Football 14,X360,2013.0,Sports,Electronic Arts,1.01,0.00,0.00,0.06,1.07
1953,1955,NFL Blitz,N64,1998.0,Sports,Midway Games,1.02,0.04,0.00,0.01,1.06
1954,1956,NFL Quarterback Club 98,N64,1997.0,Sports,Acclaim Entertainment,1.01,0.05,0.00,0.01,1.06
1957,1959,Diablo II: Lord of Destruction,PC,2001.0,Role-Playing,Vivendi Games,1.03,0.02,0.00,0.00,1.06

In [24]:
#Filter Games by Platform and Year
df.loc[(df['Platform']=='PS2')& (df['Year']==2005)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
211,212,Madden NFL 06,PS2,2005.0,Sports,Electronic Arts,3.98,0.26,0.01,0.66,4.91
245,246,God of War,PS2,2005.0,Action,Sony Computer Entertainment,2.71,1.29,0.02,0.43,4.45
252,253,Need for Speed: Most Wanted,PS2,2005.0,Racing,Electronic Arts,2.03,1.79,0.08,0.47,4.37
255,256,Kingdom Hearts II,PS2,2005.0,Role-Playing,Square Enix,2.20,0.58,1.38,0.17,4.33
269,270,FIFA Soccer 06,PS2,2005.0,Sports,Electronic Arts,0.78,2.55,0.04,0.84,4.21
...,...,...,...,...,...,...,...,...,...,...,...
14936,14939,Battlefield 2: Modern Combat(JP sales),PS2,2005.0,Shooter,Electronic Arts,0.00,0.00,0.02,0.00,0.02
15136,15139,Shonen Jump's One Piece: Grand Adventure,PS2,2005.0,Fighting,Namco Bandai Games,0.01,0.01,0.00,0.00,0.02
15783,15786,Namco Museum 50th Anniversary (JP sales),PS2,2005.0,Misc,Namco Bandai Games,0.00,0.00,0.02,0.00,0.02
15909,15912,Kao the Kangaroo Round 2,PS2,2005.0,Platform,JoWood Productions,0.01,0.01,0.00,0.00,0.02
16059,16062,Alfa Romeo Racing Italiano,PS2,2005.0,Racing,Black Bean Games,0.01,0.01,0.00,0.00,0.01

In [26]:
#Filter Games by Global Sales Range
df[(df['Global_Sales']>=20)&(df['Global_Sales']<=30)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

In [28]:
#Filter Games by Publisher and Genre
df[(df['Publisher']=='Nintendo')&(df['Genre']=='Action')]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
45,46,Pokemon HeartGold/Pokemon SoulSilver,DS,2009.0,Action,Nintendo,4.40,2.77,3.96,0.77,11.90
94,95,The Legend of Zelda: Ocarina of Time,N64,1998.0,Action,Nintendo,4.10,1.89,1.45,0.16,7.60
100,101,The Legend of Zelda: Twilight Princess,Wii,2006.0,Action,Nintendo,3.83,2.19,0.60,0.70,7.31
127,128,The Legend of Zelda,NES,1986.0,Action,Nintendo,3.74,0.93,1.69,0.14,6.51
186,187,The Legend of Zelda: Phantom Hourglass,DS,2007.0,Action,Nintendo,1.90,1.83,0.95,0.49,5.17
...,...,...,...,...,...,...,...,...,...,...,...
12426,12428,Devil's Third,WiiU,2015.0,Action,Nintendo,0.04,0.02,0.00,0.01,0.06
13887,13889,Famicom Remix Best Choice,3DS,2015.0,Action,Nintendo,0.00,0.00,0.04,0.00,0.04
14301,14304,Metroid Prime: Federation Force,3DS,2016.0,Action,Nintendo,0.02,0.01,0.01,0.00,0.03
16123,16126,Nintendogs and Cats Golden Retriever and New F...,3DS,2011.0,Action,Nintendo,0.00,0.01,0.00,0.00,0.01
16269,16272,Slide Adventure: Mag Kid,DS,2007.0,Action,Nintendo,0.00,0.00,0.01,0.00,0.01

In [30]:
# Filter Games by Multiple Genres
df.loc[df['Genre'].isin(['Action','Sports'])]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
...,...,...,...,...,...,...,...,...,...,...,...
16581,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01
16582,16585,Planet Monsters,GBA,2001.0,Action,Titus,0.01,0.00,0.00,0.00,0.01
16583,16586,Carmageddon 64,N64,1999.0,Action,Virgin Interactive,0.01,0.00,0.00,0.00,0.01
16587,16590,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.00,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.00,0.01

In [32]:
#Select Games by Multiple Criteria

df.loc[(df['Genre'].isin(['Action','Sports']))& 
                              (df['Platform']=='PS2')&
                               ((df['Global_Sales']>=5))&(df['Global_Sales']<=30)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
24,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
38,39,Grand Theft Auto III,PS2,2001.0,Action,Take-Two Interactive,6.99,4.51,0.30,1.30,13.10
142,143,Metal Gear Solid 2: Sons of Liberty,PS2,2001.0,Action,Konami Digital Entertainment,2.45,2.01,0.87,0.72,6.05
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23

In [34]:
# Filter Games by Sales

df.loc[(df['Global_Sales']>=5)&(df['Global_Sales']<=30)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
...,...,...,...,...,...,...,...,...,...,...,...
202,203,Tony Hawk's Pro Skater,PS,1999.0,Sports,Activision,3.42,1.38,0.02,0.20,5.02
203,204,Super Smash Bros. for Wii U and 3DS,WiiU,2014.0,Fighting,Nintendo,2.59,1.06,0.80,0.57,5.02
204,205,Warzone 2100,PS,1999.0,Strategy,Eidos Interactive,2.79,1.89,0.00,0.33,5.01
205,206,Spyro the Dragon,PS,1998.0,Platform,Sony Computer Entertainment,3.36,1.36,0.07,0.21,5.00
206,207,Link's Crossbow Training,Wii,2007.0,Shooter,Nintendo,3.06,1.18,0.29,0.46,5.00

In [36]:
#Filter Games by Platform and Critic Score

df[(df['Platform']=='PS2')&(df['Global_Sales']>5)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
24,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
38,39,Grand Theft Auto III,PS2,2001.0,Action,Take-Two Interactive,6.99,4.51,0.30,1.30,13.10
47,48,Gran Turismo 4,PS2,2004.0,Racing,Sony Computer Entertainment,3.01,0.01,1.10,7.53,11.66
86,87,Final Fantasy X,PS2,2001.0,Role-Playing,Sony Computer Entertainment,2.91,2.07,2.73,0.33,8.05
104,105,Need for Speed Underground,PS2,2003.0,Racing,Electronic Arts,3.27,2.83,0.08,1.02,7.20
113,114,Need for Speed Underground 2,PS2,2004.0,Racing,Electronic Arts,2.71,3.02,0.08,1.09,6.90
114,115,Medal of Honor: Frontline,PS2,2002.0,Shooter,Electronic Arts,2.93,2.75,0.17,0.99,6.83
131,132,Kingdom Hearts,PS2,2002.0,Role-Playing,Sony Computer Entertainment,3.64,1.20,1.49,0.07,6.40
142,143,Metal Gear Solid 2: Sons of Liberty,PS2,2001.0,Action,Konami Digital Entertainment,2.45,2.01,0.87,0.72,6.05
147,148,Final Fantasy XII,PS2,2006.0,Role-Playing,Square Enix,1.88,0.00,2.33,1.74,5.95
167,168,Crash Bandicoot: The Wrath of Cortex,PS2,2001.0,Platform,Universal Interactive,2.07,2.29,0.24,0.82,5.42
174,175,Final Fantasy X-2,PS2,2003.0,Role-Playing,Electronic Arts,1.92,1.08,2.11,0.17,5.29
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
180,181,Dragon Quest VIII: Journey of the Cursed King,PS2,2004.0,Role-Playing,Square Enix,0.65,0.75,3.61,0.20,5.21
190,191,Medal of Honor: Rising Sun,PS2,2003.0,Shooter,Electronic Arts,1.98,2.23,0.13,0.80,5.13
195,196,Guitar Hero II,PS2,2006.0,Misc,RedOctane,3.81,0.63,0.00,0.68,5.12

In [38]:
# Filtering Rows and Columns
df.loc[(df['Year']>2000)&(df['Global_Sales']>5),
                           ['Name','Platform','Year','Global_Sales']]

                                    Name Platform    Year  Global_Sales
0                             Wii Sports      Wii  2006.0         82.74
2                         Mario Kart Wii      Wii  2008.0         35.82
3                      Wii Sports Resort      Wii  2009.0         33.00
6                  New Super Mario Bros.       DS  2006.0         30.01
7                               Wii Play      Wii  2006.0         29.02
..                                   ...      ...     ...           ...
196                      Resident Evil 5      PS3  2009.0          5.11
197                   Grand Theft Auto V     XOne  2014.0          5.08
198  Grand Theft Auto: Vice City Stories      PSP  2006.0          5.08
199                       FIFA Soccer 11      PS3  2010.0          5.08
203  Super Smash Bros. for Wii U and 3DS     WiiU  2014.0          5.02

[153 rows x 4 columns]

In [40]:
# Filter the dataset to include games with a platform of either PS4 or NES
df.loc[df['Platform'].isin(['PS4','NES']),
                            ['Name','NA_Sales','EU_Sales']]

                                                    Name  NA_Sales  EU_Sales
1                                      Super Mario Bros.     29.08      3.58
9                                              Duck Hunt     26.93      0.63
22                                   Super Mario Bros. 3      9.54      3.44
33                             Call of Duty: Black Ops 3      5.77      5.81
44                                    Grand Theft Auto V      3.80      5.81
...                                                  ...       ...       ...
16220                       Dynasty Warriors: Eiketsuden      0.00      0.00
16260                                            Paragon      0.01      0.00
16333                                        Chaos;Child      0.00      0.00
16550  God Eater Off Shot: Tachibana Sakuya-hen Twin ...      0.00      0.00
16570                      Farming 2017 - The Simulation      0.00      0.01

[434 rows x 3 columns]

In [42]:
# Get the top 10 games from all regions
df.nlargest(10, 'Global_Sales')[['Name', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]

,Name,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,11.27,8.89,10.22,1.00,31.37
5,Tetris,23.20,2.26,4.22,0.58,30.26
6,New Super Mario Bros.,11.38,9.23,6.50,2.90,30.01
7,Wii Play,14.03,9.20,2.93,2.85,29.02
8,New Super Mario Bros. Wii,14.59,7.06,4.70,2.26,28.62
9,Duck Hunt,26.93,0.63,0.28,0.47,28.31

In [44]:
#Calculate the average sales in North America
df.loc[df['Genre'] == 'Action', 'NA_Sales'].mean()

0.2647255729794934

In [46]:
#Determine the average sales in Europe for the game published by Electronic Arts
df.loc[df['Publisher']=='Electronic Arts','EU_Sales'].mean()

0.27481125092524056

In [48]:
# Find all the games released between 2005 and 2010 (both inclusive) with multiple condition
df[((df['Year']>=2005)&(df['Year']<=2010))&
                      (df['Genre']=='Action')&
                      (df['Global_Sales']>5)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
45,46,Pokemon HeartGold/Pokemon SoulSilver,DS,2009.0,Action,Nintendo,4.40,2.77,3.96,0.77,11.90
51,52,Grand Theft Auto IV,X360,2008.0,Action,Take-Two Interactive,6.76,3.10,0.14,1.03,11.02
56,57,Grand Theft Auto IV,PS3,2008.0,Action,Take-Two Interactive,4.76,3.76,0.44,1.62,10.57
90,91,Grand Theft Auto: Liberty City Stories,PSP,2005.0,Action,Take-Two Interactive,2.90,2.83,0.24,1.75,7.72
100,101,The Legend of Zelda: Twilight Princess,Wii,2006.0,Action,Nintendo,3.83,2.19,0.60,0.70,7.31
119,120,Uncharted 2: Among Thieves,PS3,2009.0,Action,Sony Computer Entertainment,3.27,2.25,0.21,1.00,6.73
123,124,Red Dead Redemption,PS3,2010.0,Action,Take-Two Interactive,2.79,2.61,0.17,1.03,6.60
134,135,Red Dead Redemption,X360,2010.0,Action,Take-Two Interactive,3.70,1.97,0.09,0.57,6.34
144,145,Metal Gear Solid 4: Guns of the Patriots,PS3,2008.0,Action,Konami Digital Entertainment,2.63,1.74,0.83,0.83,6.03
150,151,LEGO Star Wars: The Complete Saga,Wii,2007.0,Action,LucasArts,3.66,1.63,0.00,0.53,5.83
156,157,Assassin's Creed II,PS3,2009.0,Action,Ubisoft,2.54,1.95,0.21,0.87,5.57
176,177,Assassin's Creed II,X360,2009.0,Action,Ubisoft,3.10,1.56,0.08,0.51,5.27
186,187,The Legend of Zelda: Phantom Hourglass,DS,2007.0,Action,Nintendo,1.90,1.83,0.95,0.49,5.17
196,197,Resident Evil 5,PS3,2009.0,Action,Capcom,1.96,1.43,1.08,0.65,5.11
198,199,Grand Theft Auto: Vice City Stories,PSP,2006.0,Action,Take-Two Interactive,1.70,2.02,0.16,1.21,5.08

In [50]:
# Find the top 10 games with multiple filters
df[(df['Genre'] == 'Shooter') & (df['Year'] > 2010)].nlargest(10, 'NA_Sales')[['Name', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]

,Name,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
29,Call of Duty: Modern Warfare 3,9.03,4.28,0.13,1.32,14.76
35,Call of Duty: Black Ops II,8.25,4.30,0.07,1.12,13.73
61,Call of Duty: Ghosts,6.72,2.63,0.04,0.82,10.21
65,Halo 4,6.63,2.36,0.04,0.73,9.76
33,Call of Duty: Black Ops 3,5.77,5.81,0.35,2.31,14.24
37,Call of Duty: Modern Warfare 3,5.54,5.82,0.49,1.62,13.46
34,Call of Duty: Black Ops II,4.99,5.88,0.65,2.52,14.03
101,Call of Duty: Black Ops 3,4.52,2.09,0.01,0.67,7.30
99,Battlefield 3,4.46,2.13,0.06,0.69,7.34
67,Call of Duty: Ghosts,4.09,3.73,0.38,1.38,9.59